<%= form_with(model: @education, local: true) do |form| %>
    <% if @education.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>
            <ul>
                <% @education.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :institution %>
        <%= form.text_field :institution %>
    </div>

    <div class="field">
        <%= form.label :degree %>
        <%= form.text_field :degree %>
    </div>

    <div class="field">
        <%= form.label :to_month %>
        <%= form.select :to_month, (1..12).to_a %>
    </div>

    <div class="field">
        <%= form.label :to_year %>
        <%= form.select :to_year, (1970..Date.current.year).to_a %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>