<header class="basis-full">
  <img src="/headshot.jpg" alt="Headshot of James Thompson" class="float-right w-48 mr-16 rounded-lg"/>
  <h1 class="font-bold text-4xl py-2">
    <%= @base_info.name %> &bull; CV
  </h1>
  <hr class="py-2"/>
  <div class="text-lg py-1">
    <%= @base_info.subtitle %>
  </div>
  <p class="text-sm py-4 pb-8 pl-16 pr-96">
    <%= @base_info.summary %>
  </p>
</header>
<section id="experience" class="basis-2/3">
  <h2 class="font-bold text-3xl">Work Experience</h2>
  <ol>
  <% @work_tenures.each do |tenure| -%>
    <%= render partial: "cv/work_tenure", locals: { tenure: tenure } %>
  <% end -%>
  </ol>
</section>
<%= render partial: "cv/educations", locals: { educations: @educations } %>